/* Folha de estilo da tela de chamada */

body
{
    background-color: steelblue;
}

#divSenha
{
    background-color: whitesmoke;
    border: solid;
    border-color: goldenrod;
    border-right-color: black;
    border-radius: 3%;
    margin-top: 5%;
    width: auto;
    height: auto;
}
#divSenha span
{
    font-size: 50px;
    font-weight: bold;
}

#divSenha p
{
    font-size: 200px;
    text-align: center;
}


#divGuiche 
{
    background-color: whitesmoke;
    border: solid;
    border-color: goldenrod;
    border-left-color: black;
    border-radius: 3%;
    margin-top: 5%;
    margin-left: 1%;
    width: auto;
    height: auto;
}
#divGuiche span
{
    font-size: 50px;
    font-weight: bold;
}
#divGuiche p
{
    font-size: 200px;
    text-align: center;
}

.divAnteriores
{
    background-color: white;
    border: solid;
    border-color:red;
    border-radius: 10%;
}
.divAnteriores senha
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
}
.divAnteriores guiche
{
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 10%;
}
.divAnteriores textosenha
{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10%;

}
.divAnteriores textoguiche
{
    font-size: 50px;
    font-weight: bold;
    float: right;
    margin-right: 10%;
    text-align: center;
}
